p {
    font-family: sans-serif;
text-align: justify;}

h1{
    font-size: 36px;
    text-align: center;
    color: aquamarine;
    text-shadow: 5px 5px 10px ;
}

h2{
    font-size: 24px;
    text-align: left;    
    color: blue;
    background-color: red;
}

h3{
    font-size: 18px;
    text-align: left;    
    color: red;
    background-color: black;}