.index p{
  color: blue;  
}

.index h1,h2{
    text-shadow: -5px -5px 5px gray ;

}

.ciclismo p{
  color: red;
  text-align: justify;
}

.escalada p{
  color: green;
  text-align:center;
}

footer{
  text-decoration: solid;
  color: grey;
  font-size: 10px;
}