$colorFondo: red;
$colorPrincipal:white;

*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: $colorFondo;
    color:$colorPrincipal;
}

$titula: "Mi blog";
$titulo: "Nuestro blog" !default;

h2:before{
    content: $titulo;
}